<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="style.css" />
  <link rel="icon" type="image/x-icon" href="img/icon.png" />
</head>

<body>
  <form action="/addInfo" method="post">
    <div class="form">
      <h1>Form</h1>
      <input type="text" placeholder="Please enter your product title." name="title" id="title" required />
      <br />
      <input type="number" placeholder="Please enter your product price(dollars)." name="price" id="price" step='0.01' max="9999999999" min="0"  required />
      <br />
      <input type="text" placeholder="Please enter your product description." name="description" id="description" required />
      <br />
      <input type="text" placeholder="Please enter your product image url." name="imgUrl" id="imgUrl" required />
      <br />
      <input type="text" placeholder="Please enter your product UUID." name="UUID" id="UUID" required />
      
      <br />
      <button type="submit" class="form-but">Send →</button>
    </div>
  </form>

  <table>
    <% if(obj.length!=0) { %>
    <tr class="trhead">
        <td>Title</td>
        <td>Price</td>
        <td>Update</td>
        <td>Delete</td>
        <td>Single</td>
    </tr>
     <% obj.forEach((justOne) => { %>
    <tr>
        <td><%= justOne.title %></td>
        <td><%= justOne.price %>$</td>
        <td><a class="update" href="update/<%= justOne._id %>">Update</a></td>
        <td><a class="delete" href="delete/<%= justOne._id %>">Delete</a></td>
        <td><a class="single" href="single/<%= justOne._id %>">Single</a></td>
    </tr>
<% }); %>
<% } %>
</table>
  <!-- <script src="script.js"></script> -->
</body>

</html>
