<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        background: linear-gradient(#d4145a, #fbb03b);
        background-repeat: no-repeat;
        width: 100vw;
        
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Poppins", sans-serif;
        font-weight: lighter;
        color: black;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .sides {
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        overflow: hidden;
      }

      .left {
        flex: 1;
        text-align: center;
        padding: 30px;
      }

      .left h1 {
        margin-bottom: 20px;
        font-size: 2.5em;
      }

      .left img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }

      .right {
        flex: 1;
        text-align: left;
        padding: 30px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .form-but {
        padding: 15px 25px;
        font-size: 18px;
        border-radius: 10px;
        border: transparent;
        cursor: pointer;
        background-color: #d4145a;
        text-decoration: none;
        color: white;
        display: inline-block;
        transition: background-color 0.3s ease;
      }

      .form-but:hover {
        background-color: #fbb03b;
      }
      a {
        font-weight: 600;
      }
      @media only screen and (max-width: 600px) {
      
       .right {
        overflow-x:scroll;
       }
      }
    </style>
    <link rel="icon" type="image/x-icon" href="img/icon.png" />
  </head>
  <body>
    <div class="sides">
      <div class="left">
        <h1><%= obj.title %></h1>
        <img src="<%= obj.imgUrl %>" alt="Image of this product:<%= obj.title %>" />
      </div>
      <div class="right">
        <ul>
          <li>Price: <%= obj.price %>$</li>
          <li>Description: <%= obj.description %></li>
          <li>UUID: <%= obj.UUID %></li>
        </ul>
        <a href="/" class="form-but">Get back!</a>
      </div>
    </div>
  </body>
</html>
